@model IEnumerable<BankDeposits.Mvc.Models.IdentifierEntity>

@{
    var modelType = Model.GetType().GetGenericArguments()[0];
    var properties = modelType.GetProperties().Where(p => !p.IsDefined(typeof(BankDeposits.Mvc.Attributes.ExcludeInViewAttribute), true)).ToList();

    ViewData["Title"] = $"{modelType.Name}s List";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New @modelType.Name</a>
</div>

<table class="table">
    <thead>
    <tr>
        @foreach (var property in properties)
        {
            <th>@property.Name</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var entity in Model)
    {
        <tr>
            @foreach (var property in properties)
            {
                <td>@property.GetValue(entity)</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@entity.Id" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@entity.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>