@model IEnumerable<BankDeposits.Mvc.Models.Account>

@{
    ViewData["Title"] = "Accounts List";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Account</a>
</div>
</td>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>DepositorID</th>
            <th>AccountNumber</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Id</td>
                <td>@account.DepositorId</td>
                <td>@account.AccountNumber</td>
                <td>@account.Amount</td>
                 <td>
                    <a asp-action="Edit" asp-route-id="@account.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@account.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@account.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>