@model IEnumerable<BankDeposits.Mvc.Models.Depositor>

<h1>Depositors</h1>

@* <a href="@Url.Action("Create", "Depositor")">Add New Depositor</a> *@

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Patronymic</th>
        <th>Passport Series</th>
        <th>Passport Number</th>
        <th>Home Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var depositor in Model)
    {
        <tr>
            <td>@depositor.Id</td>
            <td>@depositor.LastName</td>
            <td>@depositor.FirstName</td>
            <td>@depositor.Patronymic</td>
            <td>@depositor.PassportSeries</td>
            <td>@depositor.PassportNumber</td>
            <td>@depositor.HomeAddress</td>
            <td>
                <!-- Action buttons (Edit, Details, Delete) can be added here -->
                @* <a href="@Url.Action("Edit", "Depositor", new { id = depositor.Id })">Edit</a> | *@
                @* <a href="@Url.Action("Details", "Depositor", new { id = depositor.Id })">Details</a> | *@
                @* <a href="@Url.Action("Delete", "Depositor", new { id = depositor.Id })">Delete</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>